@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qqnx5y');
  src:  url('../fonts/icomoon.eot?qqnx5y#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qqnx5y') format('truetype'),
    url('../fonts/icomoon.woff?qqnx5y') format('woff'),
    url('../fonts/icomoon.svg?qqnx5y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
  content: "\e90c";
}
.icon-angle-right:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e90a";
}
.icon-cross:before {
  content: "\e90b";
}
.icon-key:before {
  content: "\e908";
}
.icon-plus-fill:before {
  content: "\e906";
}
.icon-edit:before {
  content: "\e907";
}
.icon-user-fill:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e904";
}
.icon-grid:before {
  content: "\e900";
}
.icon-circle:before {
  content: "\e901";
}
.icon-arrows-down:before {
  content: "\e902";
}
.icon-bar:before {
  content: "\e903";
}
