
$class: fontSize-;
@for $i from 1 through 40 {
    .#{$class}#{$i} {
        font-size: $i*0.0625rem;
    }
}
@media screen and (min-width:320px){
    $class: fontSize-xs-;
    @for $i from 1 through 40 {
        .#{$class}#{$i} {
            font-size: $i*0.0625rem;
        }
    }
}
@media screen and (min-width:576px){
    $class: fontSize-sm-;
    @for $i from 1 through 40 {
        .#{$class}#{$i} {
            font-size: $i*0.0625rem;
        }
    }
}
@media screen and (min-width:768px){
    $class: fontSize-md-;
    @for $i from 1 through 40 {
        .#{$class}#{$i} {
            font-size: $i*0.0625rem;
        }
    }
}
@media screen and (min-width:992px){
    $class: fontSize-lg-;
    @for $i from 1 through 40 {
        .#{$class}#{$i} {
            font-size: $i*0.0625rem;
        }
    }
}
@media screen and (min-width:1200px){
    $class: fontSize-xl-;
    @for $i from 1 through 40 {
        .#{$class}#{$i} {
            font-size: $i*0.0625rem;
        }
    }
}
